@font-face {
    font-family: scoreFont;
    src: url(CursedTimerUlil-Aznm.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2F4858;
}

h1 {
    margin: 2vmax;
    font-size: 5vmax;
    text-align: center;
}

h1, h2, button {
    color: antiquewhite;
}

#teams {
    font-size: 2.5vmax;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#scores {
    font-size: 7.5vmax;
    font-family: scoreFont, serif;
    color: #FF0000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vmax;
    background-color: #325082;
    padding: 3vmax 6vmax;
    border-radius: 1vmax;
    margin: 1rem;
}

#addscores {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#addscores button, #newgame {
    font-size: 2.5vmax;
    padding: 0.6vmax 1.2vmax;
    margin: 1vmax;
    border-radius: 1vmax;
    border: none;
    background-color: #6D4B9A;
    cursor: pointer;
}

#addscores button:hover, #newgame:hover {
    background-color: #B62A8F;
}

#newgame {
    display: flex;
    margin: 2.5vmax auto;
}

#connect {
  border: none;
  background-color: #0077b5;
  border-radius: 20px;
  background-size: 100% auto;
  font-family: serif;
  font-size: 1.25vmax;
  padding: 0.5vmax 1vmax;
  display: flex;
  margin: 1.5vmax auto;
}

#closing-button {
  color: antiquewhite;
  text-decoration: none;
}

#connect:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
  cursor: pointer;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #0077b5;
  }

  70% {
    box-shadow: 0 0 0 0.5vmax #fff;
  }

  100% {
    box-shadow: 0 0 0 0 #333;
  }
}
